body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main {
    max-width: 100%;
    min-height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    font-family: "Ubuntu", sans-serif;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    width: 250px;
    height: 400px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.header-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-nav:hover {
    width: 350px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.5);

}

.main>.header>div:hover > span {
    filter: opacity(1);

}

.username-link {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    filter: opacity(0);
    transition: .5s ease-in-out;
    font-size: 30px;
    
}

.main h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 10px;
    max-height: 10px;
}

@media (max-width: 1500px) {
    .header-nav {
        width: 350px;
        height: 700px;
    }
    .header-nav:hover {
        width: 500px;
    }
}

@media (max-width: 1200px) {
    .header {
        display: flex;
    }
    .header-nav {
        width: 230px;
        height: 390px;
    }
    .header-nav:hover {
        width: 300px;
    }

}

@media (max-width: 992px) {
    .header {
        display: grid;
    }
    .header-nav {
        height: 100px;
    }
    .header-items {
        display: flex;
        margin-top: 80px;
    }
    .header-nav:hover {
        height: 450;
    }
    .username-link {
        filter: opacity(1);
    }

    .main {
        display: flow-root;
    }

}

@media (max-width: 768px) {
    .main {
        display: flow-root;
    }

    .header-items {
        margin-top: 70px;
    }
}

@media (max-width: 480px) {
    .main {
        display: flow-root;
    }
    .header-nav {
        padding: 15px 0;
    }

    .header-items {
        margin-top: 20px;
        display: grid;
    }

    .username-link {
        font-size: 20px;
    }

    .main h1 {
    font-size: 23px;
    }
    .header {
    align-items: start;
    
    }
}

@media (max-width: 320px) {

}


/*  */
